*{
    padding: 0;
    margin: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
.title h2 {
  font-size: 48px;
  font-weight: 600;
  color: #282938;
  font-family: "Poppins", sans-serif;
}
.title p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(40, 41, 56, 0.7);
  font-family: "Poppins", sans-serif;
  width: 405px;
  padding: 16px 0px;
}
.title a {
  font-size: 18px;
  font-weight: 500;
  color: #2405f2;
  font-family: "Poppins", sans-serif;
}
.title .viewpricing-button {
  margin-left: 0px;
}

/* ======================
    navber part start
========================== */
nav {
  background: #1c1e53;
  padding: 16px 0px !important;
}
.navbar-nav {
  column-gap: 32px;
}
.nav-link {
  color: #bbbbcb;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  transition: 0.5s;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.nav-link:hover {
  color: #ffffff;
}
.nav-button {
  background: transparent;
  border: 1px solid rgba(244, 246, 252, 0.2);
  padding: 16px 48px;
  border-radius: 41px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  display: inline-block;
  margin-left: 48px;
  transition: 0.4s;
}
.nav-button:hover {
  background: #fcd980;
  color: black;
}

/* ========================= 
    navber part end
=========================== */
/* ========================= 
    Banner part start
=========================== */
.banner {
  background: #1c1e53;
  padding: 128px 0px;
}
.banner h1 {
  color: #fff;
  font-size: 54px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.banner p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  width: 562px;
  padding-top: 24px;
  padding-bottom: 48px;
  line-height: 33px;
}
.banner .banner-button {
  background: #fcd980;
  border: 1px solid transparent;
  padding: 16px 56px;
  border-radius: 41px;
  color: #1b1c2b;
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  display: inline-block;
  transition: 0.4s;
}
.banner .banner-button:hover {
  border-color: #fcd980;
  color: #fcd980;
  background: transparent;
}
.viewpricing-button {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-left: 40px;
  position: relative;
}
.viewpricing-button i {
  position: absolute;
  top: 50%;
  right: -35px;
  transform: translateY(-50%);
  transition: 0.4s;
  opacity: 0;
}

.viewpricing-button:hover i {
  right: -55px;
  opacity: 1;
}
/* ========================= 
    Banner part end
=========================== */
/* ========================= 
    work part start
    =========================== */
.work {
  background: #f4f6fc;
  padding: 128px 0px;
}
.work .work-card {
  row-gap: 48px;
}
.work .work-card h4 {
  color: #282938;
  font-size: 32px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding-top: 16px;
  padding-bottom: 8px;
}
.work .work-card p {
  color: rgba(40, 41, 56, 0.7);
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  width: 303px;
}

/* ========================= 
    work part end
=========================== */
/* ========================= 
    project part start
=========================== */
.project{
    padding: 128px 0px;
}
.project .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 64px;
}
.project .title a{
    color: #282938;
}
.project img:nth-child(2){
    margin-top: 30px;

}
.project img:nth-child(0){
    width: 100%;
    height: 100%;
}
.project-card{
    position: relative;
    overflow: hidden;
    
}
.project .overly{
   background-image: linear-gradient(to bottom right, #1c1e536b,#1C1E53);
    width: 52%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -52%;
    transition: .5s;
    padding: 312px 37px 0px 51px;
    color: white;
    
    
}
.project .project-card:hover .overly{
    left: 0%;
   
     

}


/* ========================= 
    project part end
=========================== */

/* ========================= 
    Feature part start
=========================== */
.feature {
  background: #F4F6FC;
  padding: 128px 0px;
}
.feature .row{
  row-gap: 30px;
  padding-top: 47px;
}
.feature .title h2{
  width: 630px;
  margin: 0 auto;
  text-align: center;
  
}
.feature .title p{
  width: auto;
  text-align: center;
  
}
.feature .card{
  width: 100% !important;
  padding: 58px 32px 48px 48px;
  border: 0px;
  box-shadow: 0px 10px 10px #3b3bc966;
  transition: .4s;
}
.feature .card img{
  width: 12%;
}
.feature .card .card-body{
  padding: 0px;
}
.feature .card .card-title{
  font-size: 24px;
  font-weight: 500;
  color: #282938;
  font-family: "Poppins", sans-serif;
  margin-top: 22px;
  margin-bottom: 12px;

}
.feature .card .card-text{
  font-size: 16px;
  font-weight: 400;
  color: #282938;
  font-family: "Poppins", sans-serif;

}
.feature .card:hover{
  
    scale: 1.05;
    
  


}

/* ========================= 
    Feature part end
=========================== */
/* ========================= 
    About part start
=========================== */
.about{
  background: #F4F6FC;
  padding: 128px 0px;
}
.about .title h2{
  font-size: 36px;
  width: 350px;
}
.about h3{
  font-size: 32px;
  font-weight:500;
  color: #282938;
  font-family: "Poppins", sans-serif;
  line-height: 48px;

}
.about .profile{
  display: flex;
  align-items: center;
  column-gap: 14px;
  margin-top: 48px;
}
.about .profile-image{
  width: 52px;
  height: 52px;
  border-radius: 50%;
}
.about .profile-image img{
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.about .profile h5{
   font-size: 18px;
  font-weight:500;
  color: #282938;
  font-family: "Poppins", sans-serif;

}
.about .profile p{
   font-size: 12px;
  font-weight:500;
  color: #282938;
  font-family: "Poppins", sans-serif;
  margin: 0px;

}
/* ========================= 
    About part end
=========================== */
